<h1>Eat Me!</h1>

<form class="create-burger">
    <div class="form-group">
        <input type="text" id="burger-input" name="name">
    </div>
</form>

<button type="submit">Submit</button>

<p>Pick a burger then click the "Submit" button!</p>